body {
    margin: 0;
    overflow: hidden;
    font-family: sans-serif;
    background: #000;
}

#threejs-container {
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    z-index: 1;
}

#ui-overlay {
    position: absolute;
    top: 20px; left: 20px;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 20px;
    border-radius: 10px;
    z-index: 10; /* Бұл өте маңызды, түймелер басылуы үшін */
}

#tour-controls button {
    display: block;
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    background: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#tour-controls button:hover {
    background: #45a049;
}